# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Node
node_modules/
dist/
coverage/

# Backend
backend/node_modules/
backend/dist/
backend/coverage/

# Worker
worker/node_modules/
worker/dist/

# Prisma local files
backend/prisma/dev.db

# Misc
tmp/
temp/
